footer.footer
  @extend %bg-img

  .lockup
    padding: 50px 30px

    .content-wrap
    float      : left
    margin-left: 80px

    p.copyright
      margin        : 0px
      text-transform: uppercase
      color         : $header

    nav
      a
        display     : inline-block
        margin-right: 30px

        color: $header
        @extend %small-bold

        &:hover,
        &:focus
          color: $black
